@import "variables";
@import "mapas";
@import "mixins";
@import "responsive-mixins";

.py-5{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    @include max-sm{
        margin-bottom: 1rem;
    }
    @include min-sm-max-md{
        margin-bottom: 1rem;
    }
    .container{
        @include min-sm-max-md{    
            max-width: 100vw;
        }
        .actividades__card{
            color: map-get($colores , colorPrincipal);
            overflow: hidden; 
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4; /*número de lineas que quiero mostrar*/
            -webkit-box-orient: vertical;
            height: 7.5rem;
        }

        .modal-dialog
        {
            height: 80vh;
            width: 95vw;
            .modal-content{
                color: map-get($colores , colorPrincipal);
                font-weight: 500;
                margin-left: auto;
                margin-right: auto;
                @include max-sm{ 
                    max-height: 80vh;
                    max-width: 90vw;
                }
                @include min-sm-max-md{    
                    max-height: 90vh;
                    max-width: 90vw;
                }
                .modal-body{
                    @include fondo-degradado;
                    text-align: left;
                    img{
                        height: 70vh;
                        @include max-sm{
                            display: none;
                        }
                        @include min-sm-max-md{ 
                            width: 100%;
                            margin-bottom: 1rem;
                        }
                    }
                    p{
                        color: white;
                        @include max-sm{
                            width: 90vw;
                        }
                        @include min-sm-max-md{    
                            @include fuente-sw(1.1rem,500);
                            line-height: 1.4;
                            width: 100%;
                            text-align: center;
                         
                        }
                    }       
                }
            }
        }
    }
}