@import "variables";
@import "mapas";
@import "mixins";
@import "responsive-mixins"; 

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

%articulo{
    font-weight: 700;
    padding-left: 1.95rem;
    padding-right: 1.95rem;
}

.subtitulo__actividades{
    @include fuente-sw(2rem,300);
    font-family: $font-main;
    color: map-get($colores , colorTexto);
    padding-left: 0px;
    text-align: center;
    margin-bottom: 3rem;
}

.carousel {
    margin-bottom: 2rem;
    .actividades{
        @include fuente-sw(1.25rem,500);
        font-family: $font-main;
        .carousel-item {
            height: 50rem;
            max-width: 100vw;
            @include min-lg-max-xxl{
                height: 45rem;
                max-width: 100vw;
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                height: 50rem;
                width: 100%;
                margin: auto;
                @include min-lg-max-xxl{
                    height: 45rem;
                    width: 100%;
                }
            }
            .actividades__articulo__img{
                align-self: map-get($propiedades-flex, centro);
                padding-top: .5rem;
                padding-bottom: .5rem;
            }
            .carousel-caption{
                bottom: 3rem;
                z-index: 3;
                color: map-get($colores, colorTextoCarousel);
                background-color: map-get($colores, colorPrincipalTransp);
                .actividades__articulo__fecha{
                    @extend %articulo;
                    padding-bottom: 0px;
                }
                .actividades__articulo__titulo{
                    @extend %articulo;
                    padding-bottom: .5rem;
                }
                .actividades__articulo__parrafo{

                    @extend %articulo;
                    text-align: center;
                    margin-bottom: 0.975rem;
                    overflow: hidden; 
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /*número de lineas que quiero mostrar*/
                    -webkit-box-orient: vertical;
                }
                .actividades__articulo__boton{
                    @include fuente-sw(1.2rem,300);
                    @include padding(.2rem,.6rem);
                    font-family: $font-main;
                    margin-left: auto;
                    background-color: map-get($colores, colorBtnCarousel);
                    border-color: map-get($colores, colorBtnCarousel);
                    border-style: solid;
                    margin-bottom: 1.95rem;
                    -webkit-transition-duration: 0.5s;
                    transition-duration: 0.5s;
                    &:hover{
                        background-color: map-get($colores, colorBtnCarouselHover);
                        border-color: map-get($colores, colorBtnCarouselHover);
                        cursor: pointer;
                    }
                    a{
                        color: map-get($colores, colorTexto);
                    }
                }
            }
        }     
    }
}



