@import "variables";
@import "mapas";
@import "mixins";

%articulo{
    font-weight: 700;
    padding-left: 1.95rem;
    padding-right: 1.95rem;
}

.subtitulo__actividades{
    @include fuente-sw(2rem,300);
    font-family: $font-main;
    color: map-get($colores , colorTexto);
    padding-left: 35px;
    margin-bottom: 3rem;
}

.carousel {
    margin-bottom: 4rem;
    .actividades{
        @include fuente-sw(1.25rem,500);
        font-family: $font-main;
        .carousel-item {
            height: 50rem;
            img{
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
                height: 50rem;
            }
            .actividades__articulo__img{
                align-self: map-get($propiedades-flex, centro);
                padding-top: .5rem;
                padding-bottom: .5rem;
            }
            .carousel-caption{
                bottom: 3rem;
                z-index: 3;
                color: map-get($colores, colorTextoCarousel);
                .actividades__articulo__fecha{
                    @extend %articulo;
                    padding-bottom: 0px;
                }
                .actividades__articulo__titulo{
                    @extend %articulo;
                    padding-bottom: .5rem;
                }
                .actividades__articulo__parrafo{
                    @extend %articulo;
                    text-align: justify;
                    margin-bottom: 0.975rem;
                    overflow: hidden; 
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /*número de lineas que quiero mostrar*/
                    -webkit-box-orient: vertical;
                }
                .actividades__articulo__boton{
                    @include fuente-sw(1.2rem,300);
                    @include padding(.2rem,.6rem);
                    font-family: $font-main;
                    margin-left: auto;
                    background-color: map-get($colores, colorBtnCarousel);
                    border-color: map-get($colores, colorBtnCarousel);
                    border-style: solid;
                    margin-bottom: 1.95rem;
                    -webkit-transition-duration: 0.5s;
                    transition-duration: 0.5s;
                    &:hover{
                        background-color: map-get($colores, colorBtnCarouselHover);
                        border-color: map-get($colores, colorBtnCarouselHover);
                        cursor: pointer;
                    }
                    a{
                        color: map-get($colores, colorTexto);
                    }
                }
            }
        }     
    }
}



