@import "variables";
@import "mapas";
@import "mixins";
@import "responsive-mixins";

body{ 
    /*fondo con gradiente*/
    background: rgb(10,107,126);
    background: -moz-linear-gradient(90deg, rgba(10,107,126,1) 0%, rgba(32,60,113,1) 38%, rgba(20,38,71,1) 67%, rgba(11,21,40,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(10,107,126,1) 0%, rgba(32,60,113,1) 38%, rgba(20,38,71,1) 67%, rgba(11,21,40,1) 100%);
    background: linear-gradient(90deg, rgba(10,107,126,1) 0%, rgba(32,60,113,1) 38%, rgba(20,38,71,1) 67%, rgba(11,21,40,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a6b7e",endColorstr="#0b1528",GradientType=1);
    overflow-x: hidden;
}

nav{
    @include fuente-sw(1.7rem, 300);
    font-family: $font-main;
    @include max-sm{
        @include fuente-sw(1rem,500);
    }
}

a{ 
    color: map-get($colores, colorPrincipal);
    text-decoration: none;
}

.grid-body{
    display: grid;
    /*pancake stack*/
    grid-template-rows: auto auto 1fr auto;
}

.mainPages{
    @include fuente-sw(1.25rem,300);
    color: map-get($colores , colorTexto);
    font-family: $font-main;
    margin-top: 6.9rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;   
}
