@import "variables";
@import "mapas";
@import "mixins";
@import "responsive-mixins";

body{ 
    @include fondo-degradado;
}

nav{
    @include fuente-sw(1.7rem, 300);
    font-family: $font-main;
    @include max-sm{
        @include fuente-sw(1rem,500);
    }
}

a{ 
    text-decoration: none;
}

.grid-body{
    display: grid;
    /*pancake stack*/
    grid-template-rows: auto 1fr auto;
}

.mainPages{
    @include fuente-sw(1.25rem,300);
    color: map-get($colores , colorTexto);
    font-family: $font-main;
    margin-top: 6.9rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;   
}