@import "variables";
@import "mapas";
@import "mixins";
@import "responsive-mixins";

.footer{
    display: map-get($propiedades-flex, dFlex);
    flex-direction: map-get($propiedades-flex, fFila);
    justify-content: map-get($propiedades-flex, sBetween);
    max-width: 100vw;
    gap: 1.25rem;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    &__contenedor{
        display: map-get($propiedades-flex, dFlex);
        flex-direction: map-get($propiedades-flex, fColumna);
        align-items: map-get($propiedades-flex, centro);
        justify-content: map-get($propiedades-flex, sEvenly);
        flex-wrap: map-get($propiedades-flex, fWrap);
        .footer__logo{
            max-width: 100%;
        }
        .footer__direccion{
            color: map-get($colores, colorTexto);
            display: map-get($propiedades-flex, dFlex);
            flex-direction: map-get($propiedades-flex, fColumna);
            justify-content: map-get($propiedades-flex, centro);
            flex-wrap: map-get($propiedades-flex, fWrap);
            font-family: $font-main;
            @include fuente-sw(1.25rem,300);
            gap: 0.5rem;
            text-align: map-get($propiedades-flex, centro);
            .footer__subtitulo{
                color: map-get($colores, colorSecundario);
                @include fuente-sw(1.6rem, inherit);
            }
            .footer__ubicacion{
                color: inherit;
                @include fuente-sw(inherit, inherit);
            }
            .footer__email{
                color: map-get($colores, colorSecundario);
                @include fuente-sw(inherit, inherit);
            }
        }
    }
    .footer__mapa{
        @include min-lg-max-xxl{
            .footer__iframe{
                width: 100%;   
            }
        }
    }
}

