@import "variables";
@import "mapas";
@import "mixins";
@import "responsive-mixins";

.header{
    @include padding(15px,25px);
    position: fixed;
    top: 0px;
    z-index: 4;
    
    .nav-link.active{
        color: map-get($colores, colorPrincipal) !important;
        &:hover {
            color: map-get($colores, colorSecundario) !important;
        }
    }
    .container-fluid{
        @include max-sm{
            width: 100%;
        }
        .header__logo{
            max-width: 100%;
            margin-left: 2rem;
            @include max-sm{
                max-width: 50%;
                margin: 0px;
            }
            @include min-sm-max-md{
                max-width: 30%;
                margin: 0px;
            }
            @include min-md-max-lg{
                max-width: 20%;
                margin: 0px;
                margin-left: .5rem;
                margin-right: 1.45rem;
            }
            @include min-lg-max-xxl{
                max-width: 20%;
                margin: 0px;
                margin-left: .5rem;
                margin-right: 1.45rem;
            }
        }  
        .navbar-toggler{
            color: map-get($colores, colorPrincipal);
            &:focus{
                box-shadow: 0 0 0 .125rem;
            }
        } 
        .navbar-collapse{
            @include max-sm{
                padding-top: 1rem;
            }
            .navbar-nav{
                margin-left: auto;
                margin-right: auto;
                .nav-item{
                    @include min-md-max-lg{
                        padding-left: .5rem;
                        padding-right: .5rem;
                        margin-right: 0px;
                    }
                    @include min-lg-max-xxl{
                        padding-left: .5rem;
                        padding-right: .5rem;
                        margin-right: 0px;
                    }
                }
                .header__item{
                    @include margenes(0px, .975rem);

                    .nav-link{
                        @include min-md-max-lg{
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                        @include min-lg-max-xxl{
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                    }
                    .header__link{
                        transition: all 0.5s;
                        &:hover {
                            cursor:pointer;
                            font-weight: 500; 
                            color: map-get($colores, colorSecundario);      
                        }
                    }
                    @include max-sm{
                        margin: 0px 0.6rem;
                        text-align: center;
                    }
                    @include min-sm-max-md{
                        @include fuente-sw(1.25rem,500);
                        margin: 0px 0.3rem;
                        text-align: center;
                    }
                    @include min-md-max-lg{
                        @include fuente-sw(1.15rem,500);
                        margin: 0px 0.25rem;
                        text-align: center;
                    }
                    @include min-lg-max-xxl{
                        @include fuente-sw(1.15rem,500);
                        margin: 0px 0.25rem;
                        text-align: center;
                    }
                }
            }
        }
    }
    .header__listRedes{
        list-style: none; /*quita los bullets*/
        display: map-get($propiedades-flex, dFlex);
        justify-content: map-get($propiedades-flex, fEnd);
        align-content: map-get($propiedades-flex, centro);
        margin-right: 2rem;
        margin-bottom: 0px;
        .header__itemRedes{
            @include margenes(0px,.25rem);
            a{
                color: map-get($colores, colorPrincipal);
                &:hover { 
                    color: map-get($colores, colorSecundario);      
                }
            }
            @include max-sm{
                display: map-get($propiedades-flex, dNone);
            }
        }
    }
}