@import "variables";
.header{
    display: flex;
    align-items: center;
    padding:15px 25px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $color-fondo-header;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 4;
    &__nav{
        display:flex;
        justify-content: center;
        .navbar-light .navbar-nav .nav-link {
            color: $color-main !important;
            &:hover {
                color: $color-secondary !important;
            }
        }
        .header__logo{
            max-width: 100%;
            margin-left: 2rem;
        }
        .header__item{
            margin: 0px .975rem;
            .header__link{
                transition: all 0.5s;
                &:hover {
                    cursor:pointer;
                    font-weight: 500; 
                    color: $color-secondary;       
                }
            }
        }
        .header__listRedes{
            list-style: none; /*quita los bullets*/
            display: flex;
            justify-content: flex-end;
            align-content: center;
            margin-right: 2rem;
            margin-bottom: 0px;
            .header__itemRedes{
                margin: 0px 0.25rem;
            }
        }
    }
}