@import "variables";
@import "mapas";
@import "mixins";
@import "responsive-mixins";

.header{
    display: map-get($propiedades-flex, dFlex);
    justify-content: map-get($propiedades-flex, sBetween);
    align-items: map-get($propiedades-flex, centro);
    flex-wrap: map-get($propiedades-flex, fWrap);
    background-color: map-get($colores, colorFondoH);
    @include padding(15px,25px);
    position: fixed;
    top: 0px;
    z-index: 4;
    .navbar-light{
        max-width: 100vw;
    }
    &__nav{
        display: map-get($propiedades-flex, dFlex);
        justify-content: map-get($propiedades-flex, centro);
        .nav-link.active{
            color: map-get($colores, colorPrincipal) !important;
            &:hover {
                color: map-get($colores, colorSecundario) !important;
            }
        }
        .container-fluid{
            @include max-sm{
                width: 100%;
            }
            .header__logo{
                max-width: 100%;
                margin-left: 2rem;
                @include max-sm{
                    max-width: 50%;
                    margin: 0px;
                }
            }
            .header__item{
                @include margenes(0px, .975rem);
                .header__link{
                    transition: all 0.5s;
                    &:hover {
                        cursor:pointer;
                        font-weight: 500; 
                        color: map-get($colores, colorSecundario);      
                    }
                }
                @include max-sm{
                    align-self: center;
                    margin: 0px 0.6rem;
                }
            }
        }
        .header__listRedes{
            list-style: none; /*quita los bullets*/
            display: map-get($propiedades-flex, dFlex);
            justify-content: map-get($propiedades-flex, fEnd);
            align-content: map-get($propiedades-flex, centro);
            margin-right: 2rem;
            margin-bottom: 0px;
            .header__itemRedes{
                @include margenes(0px,.25rem);
                a{
                    color: map-get($colores, colorPrincipal);
                    &:hover { 
                        color: map-get($colores, colorSecundario);      
                    }
                }
                @include max-sm{
                    display: map-get($propiedades-flex, dNone);
                }
            }
        }
    }
}