@import "variables";
@import "mapas";
@import "mixins";

.hero{
    background-image: url("../assets/img/imgPrincipal.jpg");
    height: 90vh;
    /* efecto */
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: map-get($colores, colorTexto);
    font-family: $font-main;
    font-weight: 100;
    text-align: map-get($propiedades-flex, centro);
    margin-bottom: 50px;
    background-position-y: 4.9rem;
    &__titulo{
        margin-top: 4.9rem;
        background-color: map-get($colores, colorPrincipalTransp);
        color: inherit;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 65.5vh;
        margin-left: auto;
        margin-right: auto;
        @include fuente-sw(2rem,inherit);
    }
    &__boton{
        border-style:solid;
        border-color: map-get($colores, colorBtnHeroBorde);
        border-width: 2px;
        background-color: map-get($colores, colorPrincipalTransp);
        color: inherit;
        font-family: inherit;
        @include fuente-sw(1.7rem,inherit);
        padding: 10px;
        transition: all 0.5s;
        &:hover{
            background-color: map-get($colores , colorBtnHeroHover);
            cursor: pointer;
        }
        a{
            color: map-get($colores, colorTexto);
        }
    }  
}