@import "variables";
@import "mapas";
@import "mixins";
@import "responsive-mixins";

.hero{
    background-image: url("../assets/img/imgPrincipal.jpg");
    background-blend-mode: lighten;
    height: 90vh;
    /* efecto */
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: map-get($colores, colorTexto);
    font-family: $font-main;
    font-weight: 100;
    text-align: map-get($propiedades-flex, centro);
    margin-bottom: 3rem;
    background-position-y: 4.9rem;
    @include min-lg-max-xxl{
        background-position-y: 3.8rem;
    }
    .textoGradiente {
        color: rgba(32,60,113,1);
        background: linear-gradient(to right, rgb(10, 139, 172) 20%, rgba(32,60,113,1) 40%, $color-main 60%, rgb(10,139,172) 80%);
        background-size: 200% auto;
        text-decoration: bold;
        color: #000;
        background-clip: padding-box;
        -webkit-background-clip: padding-box;
        -webkit-text-fill-color: white;
        animation: shine 5s linear infinite;
    }
    @keyframes shine {
        to {
          background-position: 200% center;
        }
    }
    &__titulo{
        margin-top: 4.9rem;
        color: inherit;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 60vh;
        margin-left: auto;
        margin-right: auto;
        @include fondo-degradado;
        @include fuente-sw(2rem, inherit);
        @include min-lg-max-xxl{
            margin-bottom: 50vh;
            margin-top: 3rem;
            padding-top: 2rem;
        }
    }
    &__boton{ 
        @include fuente-sw(1.7rem,inherit);
        border-style:solid;
        border-color: map-get($colores, colorBtnHeroBorde);
        border-width: 2px;
        background-color: map-get($colores, colorPrincipalTransp);
        color: inherit;
        font-family: inherit;
        padding: 10px;
        transition: all 0.5s;
        @include min-lg-max-xxl{
            margin-top: 1rem;
        }
        &:hover{
            background-color: map-get($colores , colorBtnHeroHover);
            cursor: pointer;
        }
        a{
            color: map-get($colores, colorTexto);
        } 
    }
}
