@mixin fuente-sw($size, $weight)
{
    font-size: $size;
    font-weight: $weight;
}

@mixin padding($valor1, $valor2)
{
    padding: $valor1 $valor2;
}

@mixin margenes($valor1, $valor2){
    margin: $valor1 $valor2;
}

@mixin fondo-degradado{
  /*fondo con gradiente*/
  background: rgb(10,107,126);
  background: -moz-linear-gradient(90deg, rgba(10,107,126,1) 0%, rgba(32,60,113,1) 38%, rgba(20,38,71,1) 67%, rgba(11,21,40,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(10,107,126,1) 0%, rgba(32,60,113,1) 38%, rgba(20,38,71,1) 67%, rgba(11,21,40,1) 100%);
  background: linear-gradient(90deg, rgba(10,107,126,1) 0%, rgba(32,60,113,1) 38%, rgba(20,38,71,1) 67%, rgba(11,21,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a6b7e",endColorstr="#0b1528",GradientType=1);
  overflow-x: hidden;
}