@import "variables";
@import "mapas";

@media (max-width: 400px){

    .footer__contenedor{
        .footer__direccion{
            font-size: 1rem;
        }
    }
}

@media (min-width: 40em){
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}

@media (max-width: 575.98px){
    .grid-contenedor-main{
        display: grid;       
        grid-template-columns: 1fr;
        overflow-x: hidden;
        .grid-item-hero{
            width: 100vw;
            text-align: center;
            .hero{
                background-repeat: no-repeat, repeat;
                background-image: url("../assets/img/imgMobile.jpg");
                background-blend-mode: luminosity;
                background-position-y: 3rem;
                height: 95vh;
                background-size:cover;
                margin-bottom: 1rem;
                &__titulo{
                    font-size: 1.1rem;
                    padding-bottom: 10px;
                    padding-left: .5rem;
                    padding-right: .5rem;
                    margin-top: 3.5rem;
                    margin-bottom: 65vh;
                }
                &__boton{
                    font-size: 1.4rem;
                    padding-top: 5px;
                    padding-bottom: 5px;
                } 
            }
        }
        .grid-item-subtitulo{
            width: 100vw;
            .subtitulo__actividades{
                font-size: 1.7rem;
                padding-left: 0px;
                padding-right: 0px;
                text-align: center;
                margin-bottom: 1rem;
            }
        }
        .grid-item-actividades{
            width: 100vw;
            .actividades{
                font-size: 0.9rem;
                font-family: $font-main;
                text-align: center;
                .carousel-item {
                    height: 20rem;
                    img {
                        height: 20rem;
                    } 
                    .carousel-caption{
                        padding-bottom: 0px;
                        background-color: transparent;
                        color: white;
                        text-transform: uppercase;
                        .actividades__articulo__fecha{
                            background-color: $color-fondo-fecha;
                            display: inline-block;
                            font-size: 1rem;
                            font-weight: 700;
                            padding-left: .5rem;
                            padding-right: .5rem;
                        }
                        .actividades__articulo__titulo{
                            background-color: $color-main-transparente;
                            display: inline-block;
                            font-size: 1.25rem;
                            font-weight: 500;
                            padding-bottom: 0px;
                            padding-left: 1rem;
                            padding-right: 1rem;
                        } 
                        .actividades__articulo__parrafo{
                            background-color: $color-main-transparente;
                            color: white;
                            font-size: .9rem;
                            font-weight: 500;
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }
                        
                        .actividades__articulo__boton{
                            margin-bottom: 0px;
                        }
                    }
                }
            }    
        }
        .video{
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: 1fr;
            margin: .5rem;
            .grid-item-video__youtube{
                margin-left: auto;
                margin-right: auto;
                .video__youtube{
                    max-width: 100%;
                    padding-left: .125rem;
                    padding-right: .125rem;
                }
            }
            &__descripcion{
                margin-left: .5rem;
                margin-right: .5rem;
            }
        }
    }

    .footer{
        display: map-get($propiedades-flex, dFlex);
        flex-direction: map-get($propiedades-flex, fColumaRev);
        justify-content: map-get($propiedades-flex, sBetween);
        padding: 2rem .5rem;
        &__contenedor{
            width: 95vw;
            margin-left: auto;
            margin-right: auto;
            .footer__logo{
                display: none;
            }
            .footer__direccion{
                max-width: 100%;
            }
        }
        &__mapa{
            width: 95vw;
            margin-left: auto;
            margin-right: auto;
            .footer__iframe{
                max-width: 100%;
            }
        }
    }
    
    .mainPages{
        margin-top: 5rem;
        margin-bottom: .75rem;
        margin-left: .25rem;
        margin-right: .25rem;
    }

    .pb-3{
        padding-bottom: 0px !important;
    }

    .mb-4{
        margin-bottom: 0px !important;
    }

    .institucional__titulo{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .institucional__texto{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .museo__main{
        margin-top: 5rem;
        margin-bottom: 0px !important;
        .grid-museo-main{
            display: grid;
            grid-template-columns: 1fr;
            margin-left: 1rem;
            margin-right: 1rem;
            .ancho{
                grid-column:unset;
            }
            .alto{
                grid-column: span 2;
            }
            .grande{
                grid-column: unset;
                grid-row:unset;
            }
        }
        .museo__fondo{
            display: none;
        }
    }

    .contacto__form{
        &__fieldset{
            .contacto__form__input{
                width: 100%;
            }
            .contacto__form__textarea{
                min-width: 100%;
            }
        }   
    }       
}  

@media (min-width: 576px) and (max-width: 767.98px){ 

    .header__itemRedes{
        display: none;
    }

    .grid-contenedor-main{
        display: grid;       
        grid-template-columns: 1fr;
        overflow-x: hidden;
        .grid-item-hero{
            width: 100vw;
            text-align: center;
            .hero{
                background-repeat: no-repeat, repeat;
                background-image: url("../assets/img/imgMobile.jpg");
                background-blend-mode: luminosity;
                background-position-y: 3rem;
                height: 95vh;
                background-size:cover;
                margin-bottom: 1rem;
                &__titulo{
                    font-size: 1.3rem;
                    padding-left: .5rem;
                    padding-right: .5rem;
                    padding-bottom: 10px;
                    margin-top: 3.5rem;
                    margin-bottom: 65vh;
                }
                &__boton{
                    font-size: 1.5rem;
                    padding-top: 5px;
                    padding-bottom: 5px;
                } 
            }
        }
        .grid-item-subtitulo{
            width: 100vw;
            .subtitulo__actividades{
                font-size: 1.7rem;
                padding-left: 0px;
                padding-right: 0px;
                text-align: center;
                margin-bottom: 1rem;
            }
        }
        .grid-item-actividades{
            width: 100vw;
            .actividades{
                font-size: 0.9rem;
                font-family: $font-main;
                text-align: center;
                .carousel-item {
                    height: 30rem;
                    img {
                        height: 30rem;
                    } 
                    .carousel-caption{
                        padding-bottom: 0px;
                        background-color: transparent;
                        color: white;
                        text-transform: uppercase;
                        .actividades__articulo__fecha{
                            background-color: $color-fondo-fecha;
                            display: inline-block;
                            font-size: 1rem;
                            font-weight: 700;
                            padding-left: .5rem;
                            padding-right: .5rem;
                        }
                        .actividades__articulo__titulo{
                            background-color: $color-main-transparente;
                            font-size: 1.25rem;
                            font-weight: 500;
                            padding-bottom: 0px;
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }
                        .actividades__articulo__parrafo{
                            background-color: $color-main-transparente;
                            color: white;
                            font-size: .9rem;
                            font-weight: 500;
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }     
                        .actividades__articulo__boton{
                            margin-bottom: 0px;
                        }
                    }
                }
            }    
        }
        .video{
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: 1fr;
            margin: .5rem;
            .grid-item-video__youtube{
                width: 100%;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                .video__youtube{
                    width: 100%;
                    padding-left: .125rem;
                    padding-right: .125rem;
                }
            }
            &__descripcion{
                margin-left: .5rem;
                margin-right: .5rem;
            }
        }
    }

    .footer{
        display: map-get($propiedades-flex, dFlex);
        flex-direction: map-get($propiedades-flex, fColumaRev);
        justify-content: map-get($propiedades-flex, sBetween);
        padding: 2rem .5rem;
        &__contenedor{
            width: 95vw;
            margin-left: auto;
            margin-right: auto;
            .footer__logo{
                display: none;
            }
            .footer__direccion{
                max-width: 100%;
            }
        }
        &__mapa{
            text-align: center; /*para centrar el iframe*/
            line-height: 0;     /*para eliminar padding debajo del mapa*/
            .footer__iframe{
                width: 100%;
            }
        }
    }

    .mainPages{
        margin-top: 5rem;
        margin-bottom: .75rem;
        margin-left: .25rem;
        margin-right: .25rem;
    }

    .pb-3{
        padding-bottom: 0px !important;
    }

    .mb-4{
        margin-bottom: 0px !important;
    }

    .institucional__titulo{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .institucional__texto{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .museo__main{
        margin-top: 5rem;
        .grid-museo-main{
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 1fr;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 0px !important;
            .ancho{
                grid-column:unset;
            }
            .alto{
                grid-row:unset;
            }
            .grande{
                grid-column: unset;
                grid-row:unset;
            }
        }
        .museo__fondo{
            display: none;
        }
    }

    .contacto__form{
        &__fieldset{
            .contacto__form__input{
                width: 100%;
            }
            .contacto__form__textarea{
                min-width: 100%;
            }
        }   
    }       
}  

@media (min-width: 768px) and (max-width: 991.98px){ 

    .header__itemRedes{
        display: none;
    }

    .grid-contenedor-main{
        display: grid;       
        grid-template-columns: 1fr;
        overflow-x: hidden;
        .grid-item-hero{
            width: 100vw;
            text-align: center;
            .hero{
                background-repeat: no-repeat, repeat;
                background-image: url("../assets/img/imgMobile.jpg");
                background-blend-mode: luminosity;
                background-position-y: 3rem;
                height: 95vh;
                background-size:cover;
                margin-bottom: 1rem;
                &__titulo{
                    font-size: 1.45rem;
                    padding-left: .5rem;
                    padding-right: .5rem;
                    padding-bottom: 10px;
                    margin-top: 3.8rem;
                    margin-bottom: 63vh;
                }
                &__boton{
                    font-size: 1.5rem;
                    padding-top: 5px;
                    padding-bottom: 5px;
                } 
            }
        }
        .grid-item-subtitulo{
            width: 100vw;
            .subtitulo__actividades{
                font-size: 1.7rem;
                padding-left: 0px;
                padding-right: 0px;
                text-align: center;
                margin-bottom: 1rem;
            }
        }
        .grid-item-actividades{
            width: 100vw;
            .actividades{
                font-size: 0.9rem;
                font-family: $font-main;
                text-align: center;
                .carousel-item {
                    height: 30rem;
                    img {
                        height: 30rem;
                    } 
                    .carousel-caption{
                        padding-bottom: 0px;
                        background-color: transparent;
                        color: white;
                        text-transform: uppercase;
                        .actividades__articulo__fecha{
                            background-color: $color-fondo-fecha;
                            display: inline-block;
                            font-size: 1rem;
                            font-weight: 700;
                            padding-left: .5rem;
                            padding-right: .5rem;
                        }
                        .actividades__articulo__titulo{
                            background-color: $color-main-transparente;
                            font-size: 1.25rem;
                            font-weight: 500;
                            padding-bottom: 0px;
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }
                        .actividades__articulo__parrafo{
                            background-color: $color-main-transparente;
                            color: white;
                            font-size: .9rem;
                            font-weight: 500;
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }     
                        .actividades__articulo__boton{
                            margin-bottom: 0px;
                        }
                    }
                }
            }    
        }
        .video{
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: 1fr;
            margin: .5rem;
            .grid-item-video__youtube{
                width: 100%;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                .video__youtube{
                    width: 100%;
                    padding-left: .125rem;
                    padding-right: .125rem;
                }
            }
            &__descripcion{
                margin-left: .5rem;
                margin-right: .5rem;
            }
        }
    }

    .footer{
        display: map-get($propiedades-flex, dFlex);
        flex-direction: map-get($propiedades-flex, fColumaRev);
        justify-content: map-get($propiedades-flex, sBetween);
        padding: 2rem .5rem;
        &__contenedor{
            width: 95vw;
            margin-left: auto;
            margin-right: auto;
            .footer__logo{
                display: none;
            }
            .footer__direccion{
                max-width: 100%;
            }
        }
        &__mapa{
            text-align: center; /*para centrar el iframe*/
            line-height: 0;     /*para eliminar padding debajo del mapa*/
            .footer__iframe{
                width: 100%;
            }
        }
    }

    .mainPages{
        margin-top: 5rem;
        margin-bottom: .75rem;
        margin-left: .25rem;
        margin-right: .25rem;
    }

    .pb-3{
        padding-bottom: 0px !important;
    }

    .mb-4{
        margin-bottom: 0px !important;
    }

    .institucional__titulo{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .institucional__texto{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .museo__main{
        margin-top: 5rem;
        .grid-museo-main{
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 1fr;
            margin-left: 1rem;
            margin-right: 1rem;
            .ancho{
                grid-column:unset;
            }
            .alto{
                grid-row:unset;
            }
            .grande{
                grid-column: unset;
                grid-row:unset;
            }
        }
        .museo__fondo{
            display: none;
        }
    }

    .contacto__form{
        &__fieldset{
            .contacto__form__input{
                width: 75%;
            }
            .contacto__form__textarea{
                min-width: 75%;
            }
        }   
    }           
}

@media (min-width: 992px) and (max-width: 1365.98){

}
