@import "variables";
@import "mapas";
@import "mixins";
@import "responsive-mixins";

.video{
    display: map-get($propiedades-flex, dFlex);
    flex-direction: map-get($propiedades-flex, fFila);
    justify-content: map-get($propiedades-flex, sBetween);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
    gap: 1.25rem;
    @include min-lg-max-xxl{
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    .grid-item-video__youtube{ 
        line-height: 1; 
        align-self: center;
        .video__youtube{
            min-width: 60%;
            @include min-lg-max-xxl{
                min-width: 50%;
            } 
        }
    }
    &__descripcion{
        display: map-get($propiedades-flex, dFlex);
        flex-direction: map-get($propiedades-flex, fColumna);
        justify-content: map-get($propiedades-flex, centro);
        flex-wrap: map-get($propiedades-flex, fWrap);
        font-family: $font-main;
        text-align: justify;
        text-justify: auto;
        &__titulo{
            @include fuente-sw(1.8rem,300);
            color: map-get($colores, colorSecundario);
            text-align: map-get($propiedades-flex, centro);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1.25rem;
        }
        &__parrafo{
            @include fuente-sw(1.25rem,300);
            color: map-get($colores , colorTexto);
        }
    }
}