$color-main: rgb(22,43,78);
$color-main-transparente: rgba(22,43,78, 0.7);
$color-secondary: rgb(12,183,242);
$color-fondo-header: white;
$color-texto: white;
$color-texto-carousel: black;
$color-btn-hero-hover: rgba(156, 47, 47, 0.836);
$color-btn-carousel: rgb(168,16,161);
$color-btn-carousel-hover: rgb(233, 14, 222);
$font-main: 'Roboto', sans-serif;